.login-form form input[type="submit"] {
    background-color: #799a79;
    padding: 10px 34px;
    border: 1px solid #799a79;
    color: #fff;
    font-weight: 500;
}
.google-btn button {
    width: 100%;
    padding: 12px 24px;
    border: 1px solid silver;
    border-radius: 6px;
    background-color: transparent;
    font-weight: 500;
    color: #799a79;
    transition: 0.5s all;
}
.google-btn button:hover {
    border: 1px solid #799a79;
}
.google-btn button img {
    width: 24px;
    height: 24px;
    margin-right: 6px;
}
.reset-btn a,
.reset-btn button {
    text-decoration: none;
    color: blue;
    background-color: transparent;
    border: none;
    transition: 0.5s all;
}
.reset-btn a:hover,
.reset-btn button:hover {
    text-decoration: underline;
}
